<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <title>メモアプリ</title>
    <link rel="stylesheet" href="/style.css" type='text/css'>
  </head>
  <body>
    <main>
      <header>
        <h1><a href="/memo">メモアプリ</a></h1>
      </header>
      <div>
        <%= yield %>
      </div>
    </main>
    <footer>
      <small>&copy; naka </small>
    </footer>
  </body>
</html>
